/* YLE.fi Header & Footer reset */
body {margin: 0; padding: 0;}
div#ylefiheader,#ylefiheader div,#ylefiheader dl,#ylefiheader dt,#ylefiheader dd,#ylefiheader ul,#ylefiheader ol,#ylefiheader li,#ylefiheader h1,#ylefiheader h2,#ylefiheader h3,#ylefiheader h4,#ylefiheader h5,#ylefiheader h6,#ylefiheader pre,#ylefiheader form,#ylefiheader fieldset,#ylefiheader input,#ylefiheader textarea,#ylefiheader p,#ylefiheader blockquote,#ylefiheader th,#ylefiheader td {margin:0; padding:0; line-height: normal; letter-spacing: normal;}

/* YLE.fi Header styles */
div#ylefiheader {text-align: left; width: 100%; min-height: 49px; border-bottom: 1px solid #4d4d4d; background: #333; font-family: arial, helvetica, clean, sans-serif; color: #fff; font-size: 14px; overflow: auto;}
div#ylefiheader a {font-size: 14px; color: #fff; text-decoration: none;}
div#ylefiheader a:hover {color: #ddd; text-decoration: none;}
div#ylefiheader-wrapper {max-width: 940px; margin: 0 auto; padding: 0 10px; position: relative; overflow: hidden; min-height: 49px;}
img#ylefiheader-logo {margin: 11px 0 0 0; float: left; border: none;}
span#ylefiheader-mobiletoggle {display: none;}
ul#ylefiheader-mainnavi {margin: 19px 0 0 18px; float: right; text-transform: uppercase; margin-right: 315px;}
ul#ylefiheader-mainnavi li {float: left; display: block; margin: 0 5px; padding-left: 10px; line-height: 1; border-left: 1px solid #666;}
ul#ylefiheader-mainnavi > li:first-child {border-left: 0; margin-left: 0; padding-left: 0;}
div#ylefiheader form {margin-top: 11px; float: right; position: absolute; right: 100px; vertical-align: baseline; height: 28px;}
div#ylefiheader form .hasPlaceholder {color: #777;}
div#ylefiheader form label {display: none;}
div#ylefiheader form input {font-family: arial, helvetica, clean, sans-serif; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: caret; vertical-align: top; width: 170px; height: 20px; padding: 4px; border: 0; margin-right: -4px; font-size: 12px; border-radius: 4px 0 0 4px; background: #fff}
div#ylefiheader form input::-webkit-input-placeholder {color: #888; font-size: 12px;}
div#ylefiheader form input:-moz-placeholder {color: #888; font-size: 12px;}
div#ylefiheader form button {vertical-align: baseline; text-indent:-9999px; cursor: pointer; border-radius: 0 4px 4px 0; width: 28px; height: 28px; border: 0; padding: 0; margin: 0; background: transparent url(//static.cdn.yle.fi/hf/v1/img/ylefisearch.png) no-repeat top left;}
p#ylefiheader-langnavi {font-size: 12px; font-weight: bold; float: right; position: absolute; top: 19px; right: 10px; padding-bottom: 10px; display: block;}
p#ylefiheader-langnavi a {font-size: 12px;}

/* Style exceptions for svenska */
div#ylefiheader.svenska form {right: 60px;}
div#ylefiheader.svenska ul#ylefiheader-mainnavi {margin-right: 270px;}

/* YLE.fi Footer styles */
div#ylefifooter {text-align: left; clear: both; font-family: arial, helvetica, clean, sans-serif; color: #333; font-size: 12px; display: block; max-width: 100%; background: #e0e0e0; border-top: 1px solid #cbcbcb; padding-top: 16px; padding-bottom: 24px;}
div#ylefifooter h6 {font-family: arial, helvetica, clean, sans-serif; color: #333; font-size: 20px; font-weight: bold; display: block; padding-bottom: 16px; margin: 0 0 24px 0; border-bottom: 1px solid #cbcbcb;}
div#ylefifooter a {font-size: 12px; color: #333; text-decoration: none;}
div#ylefifooter a:hover {color: #666; text-decoration: none;}
div.ylefifooter-wrapper {max-width: 940px; margin: 0 auto; padding: 0 10px; overflow: hidden;}
div.ylefifooter-column {display: block; float: left; width: 16.666%;}
div.ylefifooter-column ul {margin: 1px 0 24px 0; padding: 0;}
div.ylefifooter-column ul li {list-style-type: none; font-weight: bold; margin-bottom: 4px;}
div.ylefifooter-column.yleui-mobile ul li {margin-bottom: 8px;}
div.ylefifooter-column.yleui-mobile ul li a {padding: 4px; text-align: center; border: 1px solid #bcbcbc; border-radius: 4px; background: #cbcbcb; display: block;}
div#ylefifooter div.ylefifooter-column.yleui-mobile ul li a:hover {color: #333; background: -moz-linear-gradient(#bcbcbc, #cbcbcb); background: -ms-linear-gradient(#bcbcbc, #cbcbcb); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(100%, #cbcbcb)); background: -webkit-linear-gradient(#bcbcbc, #cbcbcb); background: -o-linear-gradient(#bcbcbc, #cbcbcb); background: linear-gradient(#bcbcbc, #cbcbcb);}
div.ylefifooter-links {font-weight: bold; clear: left; display: block; margin: 0 auto; background: #fff; overflow: hidden; padding: 24px 10px; border: 1px solid #cbcbcb; border-radius: 4px;}
div.ylefifooter-links.yleui-mobile {padding: 24px;}
div.ylefifooter-links ul {margin: 8px 0 0 0; padding-left: 40px;}
div.ylefifooter-links ul li {float: left; list-style-type: none; display: block; margin: 0 5px; padding-left: 10px; line-height: 1; border-left: 1px solid #000;}
div.ylefifooter-links ul li.first-item {border: 0; padding-left: 0;}

/* YLE.fi Responsive styles */
@media screen and (max-width: 739px) {
  div#ylefiheader {padding-bottom: 0;}
  div#ylefiheader-mobilewrapper {display: block; max-height: 0; position: relative; overflow: hidden; margin-top: 49px; -moz-transition: 1s; -ms-transition: 1s; -o-transition: 1s; -webkit-transition: 1s; transition: 1s;}
  div#ylefiheader-mobilewrapper.open {max-height: 999px; -moz-transition: 1s; -ms-transition: 1s; -o-transition: 1s; -webkit-transition: 1s; transition: 1s;}
  span#ylefiheader-mobiletoggle {display: block; height: 28px; width: 65px; background: transparent url(//static.cdn.yle.fi/hf/v1/img/button_navi-search.png) top left no-repeat; position: absolute; top: 10px; right: 10px; cursor: pointer;}
  ul#ylefiheader-mainnavi, div#ylefiheader.svenska ul#ylefiheader-mainnavi {margin: 55px 0 12px 0; padding-top: 12px; float: none; border-top: 1px solid #4d4d4d; border-bottom: 1px solid #4d4d4d; font-size: 18px;}
  ul#ylefiheader-mainnavi li {float: none; margin: 0; border: 0; padding: 0;}
  ul#ylefiheader-mainnavi li a {box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; width: 100%; margin: 0; display: block; margin-bottom: 12px;}
  div#ylefiheader form, div#ylefiheader.svenska form {float: none; top: 0; width: 100%; right: auto;}
  div#ylefiheader form input {width: 100%; border-radius: 4px; height: 28px; padding: 4px; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;}
  div#ylefiheader form button {position: absolute; right: 0;}
  p#ylefiheader-langnavi {float: none; position: relative; top: auto; right: auto; font-weight: bold;}
  div#ylefifooter {padding-bottom: 0; margin-bottom: 8px;}
  div#ylefifooter h6 {display: none;}
  div.ylefifooter-wrapper.yleui-mobile {padding: 0;}
  div.ylefifooter-column {display: none; width: 100%;}
  div.ylefifooter-column.yleui-mobile {display: block;}
  div.ylefifooter-column.yleui-mobile ul {margin-bottom: 16px;}
  div.ylefifooter-links {border-radius: 0; border: 0; padding-bottom: 0;}
  div.ylefifooter-links img {padding: 0 10px 10px 0}
  div.ylefifooter-links ul {margin-top: 0; padding: 0 0 0 30px;}
  div.ylefifooter-links ul li {float: none; border: 0; padding-bottom: 8px;}
  div.ylefifooter-links ul li.first-item {padding-left: 10px;}
  div.ylefifooter-column.yleui-mobile ul li a {width: 100%; margin: 0; text-align: left;  box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;}
}

@media screen and (min-width: 740px) {
  div#ylefiheader {height: 49px;}
  div#ylefiheader-mobilewrapper {height: auto !important;}
}

/* YLE.fi Header & Footer IE hacks */
*+html div#ylefiheader.svenska form input[type=text] {background-image: none;}
*+html div#ylefiheader form input {padding-top: 6px; padding-bottom: 2px;}
div#ylefiheader form input {padding-top: 6px \0/; padding-bottom: 2px \0/;}
div#ylefiheader form input, div#ylefiheader form button, div.ylefifooter-links {border-radius: 0 0 0 0 \0/;}
*+html div#ylefiheader form button {font-size:0;line-height:0; margin-top: 1px;}
*+html div.ylefifooter-links ul {padding-top: 8px;}
/* Wide view */ 
div#ylefiheader-wrapper, div.ylefifooter-wrapper {max-width: 1220px !important;}